<div class="card text-center bg-light mt-2">
    <div class="card-body">
      <h5 class="card-title">Food App</h5>
      <p class="card-text">The best place for ordering Food</p>
      <a href="#" class="btn btn-success mb-2 w-25">Order Now</a>
    </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://www.restorani.com.mk/storage/images/restaurants/galleries/thumbs/15809861511071720872_gallery.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static3.depositphotos.com/1003631/209/i/450/depositphotos_2099183-stock-photo-fine-table-setting-in-gourmet.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.insider.com/55ba73262acae732118bb6fa?width=1100&format=jpeg&auto=webp" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
